ex-kotlin/ProjetoHelloWorld/build/kotlin/compileKotlin/*
ex-kotlin/ProjetoHelloWorld/.gradle/*
ex-kotlin/ProjetoHelloWorld/.gradle/7.3.3/*
ex-kotlin/ProjetoHelloWorld/.gradle/buildOutputCleanup/*
ex-kotlin/ProjetoHelloWorld/build/classes/kotlin/main/META-INF/*